.card {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border: 2px solid;
  border-radius: 10px;
  position: relative;
  margin: 0 auto;
}

.form {
  width: 35%;
}

.current-location {
  width: 5%;
  background-color: #34a1eb;
  border-radius: 10px;
  border: 1px;
}

h1 {
  font-size: 46px;
  padding-left: 1.5em;
  color: #000000;
}

li {
  list-style: none;
  font-size: 16px;
  margin: 0px;
  color: #000000;
  text-transform: capitalize;
}

ul {
  margin: 10px;
  padding: 0;
}

small {
  font-size: 12px;
  color: #000000;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 5px;
}

.wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.icon {
  height: 60%;
  width: 60%;
  position: relative;
  margin-left: -5px;
  top: -3px;
}

.weather-temperature img {
  margin-right: 10px;
  margin-bottom: 10px;
  height: 64px;
  width: 64px;
  float: left;
}

.weather-temperature strong {
  color: #000000;
  font-weight: 400;
  line-height: 1;
  font-size: 64px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-temperature .active {
  color: #000000;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.forecast-container p {
  margin-top: 20px;
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  text-align: center;
  height: 5px;
}

.forecast-temp {
  text-decoration: none;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
  margin-bottom: 15px;
}
